<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Crear nueva categoría -->
  <ion-item>
    <ion-label position="stacked">Nueva categoría</ion-label>
    <ion-input [(ngModel)]="newCategoryName" placeholder="Ej. Trabajo"></ion-input>
  </ion-item>

  <div class="ion-text-end ion-margin-top">
    <ion-button expand="block" (click)="addCategory()">Agregar</ion-button>
  </div>

  <!-- Lista de categorías -->
  <ion-list *ngIf="getCategoriesLength() > 0; else emptyState" class="ion-margin-top">
    <ion-item *ngFor="let cat of categories$ | async">
      <ion-label>{{ cat.name }}</ion-label>
      <ion-button fill="clear" color="danger" (click)="deleteCategory(cat.id)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Estado vacío -->
  <ng-template #emptyState>
    <ion-text color="medium" class="ion-text-center ion-margin-top">
      <p>No hay categorías creadas.</p>
    </ion-text>
  </ng-template>

</ion-content>
