<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/category']">
        <ion-icon name="folder-outline" slot="start"></ion-icon>
        Categorías
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear nueva tarea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input [(ngModel)]="newTaskTitle" placeholder="Ej. Comprar leche"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoría (opcional)</ion-label>
        <ion-select [(ngModel)]="selectedCategoryId" interface="popover" placeholder="Seleccionar categoría">
          <ion-select-option *ngFor="let cat of categories$ | async" [value]="cat.id">
            {{ cat.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="addTask()">Agregar tarea</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-item class="ion-margin-vertical">
    <ion-label position="stacked">Filtrar por categoría</ion-label>
    <ion-select [(ngModel)]="filterCategoryId" interface="popover" placeholder="Todas">
      <ion-select-option [value]="undefined">Todas</ion-select-option>
      <ion-select-option *ngFor="let cat of categories$ | async" [value]="cat.id">
        {{ cat.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-list *ngIf="getFilteredTasksLength() > 0; else noTasks">
    <ion-item *ngFor="let task of filteredTasks$ | async">
      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)"></ion-checkbox>
      <ion-label>
        <h2 [class.completed]="task.completed">{{ task.title }}</h2>
        <p *ngIf="task.categoryId">Categoría: {{ getCategoryName(task.categoryId) }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="deleteTask(task.id)" *ngIf="showTrash">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <ng-template #noTasks>
    <ion-text color="medium" class="ion-text-center ion-margin-top">
      <p>No hay tareas disponibles.</p>
    </ion-text>
  </ng-template>

</ion-content>

